:root {
  --primary: #3498db;
}

.container {
  padding: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dayparting {
  overflow-x: auto;
}

.clr-btn {
  display: inline-block;
  width: 120px;
  padding: 10px 0;
  margin: 0 30px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  height: fit-content;
  cursor: pointer;
  border: 3px solid var(--primary);
  border-radius: 10px;
  background-image: linear-gradient(90deg, var(--primary) 50%, transparent 50%);
  background-size: 500px;
  transition: background 300ms ease-in-out;
}

.clr-btn:hover {
  background-position: 100%;
  color: var(--primary);
}

.p-3 {
  padding: 0.75rem;
}

.parent-cell {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  justify-content: space-between;
}

.child-cell {
  height: 2.75rem;
  cursor: pointer;
  width: 57px;
  transition: all 0.3s ease-in-out;
}

.child-cell:nth-child(odd) {
  border-right: 1px solid #ccc;
}

.child-cell.active {
  background-color: var(--primary);
}

.child-cell.hover:hover {
  background-color: var(--primary);
}

.titles {
  background-color: rgba(233, 229, 229, 0.477);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

tbody tr td {
  white-space: nowrap;
}

th {
  padding: 1rem 1.5rem;
  color: #111827;
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 500;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th + div {
  width: 70px;
}
